* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Arial', sans-serif;

  }
  
  :root {
    --primary-color: #002B7F;
    --secondary-color: #F50057;
    --background-color: #f1f1f1;
    --text-color: #333;
  }

  body {
    /* background: linear-gradient(to bottom right, #fbcad8, #ffffff, #b3c6f7); */

    background: linear-gradient(
    
      to bottom right,
    rgba(245, 0, 87, 0.2) 0%,     /* Soft red */
    rgba(255, 255, 255, 1) 30%,   /* Strong white */
    rgba(255, 255, 255, 1) 70%,   /* Long white middle */
    rgba(0, 43, 127, 0.2) 100%      /* Blue ends */
    );
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;
    
    position: relative;

    display: flex;
    flex-direction: column;
  align-items: center;
  }

  header {
    color: var(--secondary-color);
    background-color: rgba(244, 243, 245, 0.93);
    /* box-shadow: 3px 1px 30px black; */
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
  }



  .header-content {
    display: flex;
    align-items: center;
    justify-content:center;
    max-width: 1200px;
    width: 100%;
  }

  .header-content h1 {
    margin-right: auto;
    margin-bottom: 0;
    font-size: 2rem;
  }
  .nav-bar {
    /* flex-grow: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
   margin-left: auto;
   padding-right: 30px;
  }

  .nav-bar .large-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .nav-bar a {
    color: var(--text-color);
    margin-left: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .nav-bar a:hover {
    color: var(--secondary-color);
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    z-index: 2000;
    display: none;
    background-color: var(--secondary-color);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    /* display: none; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: right 0.5s ease;
    padding-top: 20px;
  }

@media (min-width: 770px) {
  .sidebar {
    display: none;
  }
}

  .sidebar li a{
    color: var(--background-color);
  }


  .menu-bar svg,
.cancel-button svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

  .show {
    right: 0;
  }

  .sidebar li {
    width: 100%;
    margin-top: 25px;
  }

  .sidebar a{
    width: 100%;
  }

  .menu-bar {
    display: none;
  }

  .landing-page {
    padding:85px 30px 0;
   min-height: 9vh;
    margin-top: 10px;
  } 

  .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .hero-content {
    padding: 0 15px;
    width: 50%;
 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .hero-content p {
    color: var(--text-color);
  }

  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
  }


  .logo {
    width: 50%;
    height: 100%;
    position: relative;
  }

  .circle {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--secondary-color);
    z-index: -500;
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.8) 0%, rgba(0, 0, 255, 0.8) 100%);
  }

  .circle2 {
    position: absolute;
    bottom: -20px;
    right: -7px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    z-index: 400;

  }

  .product-image {
    width: 100%;
    height: 100%;
    z-index: 5000;
    border-radius: 0 0 100px 100px;
  }



  /* LEFT AND RIGHT ARROWS */

  .left {
    left: 5%;
  }
  .left, .right {
    position: absolute;
    z-index: 100;
    top: 25%;
    cursor: pointer; 
    color: red ;
    
    font-size: 3rem;
  }

  .left:hover, .right:hover {
    color: var(--secondary-color);
  }
  .left:active, .right:active {
    color: var(--primary-color);
  }



  .right {
    right: 5%;
  }


  .course-header {
    text-align: center;
    font-size: 3rem;
    color: var(--primary-color);
  }

  /* uiguttttttttttt */

    .course-section {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100vw;
      margin-top: 50px;
      flex-direction: column;
     
    }

    .courrse-container {
      display: flex;
      gap: 20px;
      transition: transform 0.5s ease-in-out;
      width: 100%;
      position: relative;
      overflow: hidden;
      /* border: 2px solid green; */
      scroll-behavior: smooth;
      justify-content: center;
      align-items: center;
      padding: 15px;
    
    }

    .book {
      position: relative;
      flex: 0 0 auto;
      max-width: 300px;
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    .book .image-part {
      
      height: 300px;
      width: 100%;
      object-fit: cover;
      position: relative;
    }

    .book img {
      width: 100%;
      height: 100%;
    }

    .book p {
      padding: 10px;
      background-color: var(--background-color);
      color: var(--text-color);
    }


  

  /* iuyttyhihkjhikuj */


   

  /* ORDER SECTION */

  .cancel-button {
    height: 30px;
    width: 30px;
    position: absolute;
    top: -3%;
    left: 5%;
    cursor: pointer;
    z-index: 7000;

  }

  .cancel-btn {
    height: 30px;
    width: 30px;
    position: absolute;
    top: -1%;
    right: 5%;
    cursor: pointer;
    z-index: 7000;
  }

  .cancel-btn img {
    width: 100%;
    height: 100%;
    
  }

  .show {
    display: block;
  }

  .order {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 30px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.98), rgba(0, 123, 255, 0.98));
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 80%;

    z-index: 3000;
    overflow: hidden;

  }

  .order-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  /* Styling for the left section with the course image */
  .course-picture {
    position: relative;
    flex: 1;
    max-width: 600px;
    overflow: hidden;
   
  }
  
  .order-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 25px 0 25px;
    transition: transform 0.3s ease;
  }
  
  .course-summary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
  }
  
  
  /* Styling for the order-content (right section) */
  .order-content {
    flex: 1;
    max-width: 500px;
    /* background: rgba(255, 255, 255, 0.8); */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .enroll-now {
    padding: 12px 25px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius:0 15px;
    display: block;
    width: 100%;
    text-align: center;
  }

  /* .enroll-now a {
    color: white;
    text-decoration: none;
  } */
  
  .enroll-now:hover {
    background-color: red;
    /* background-color: #0056b3; */
  }
  
  /* Hover effects on the image for a zoom-in effect */
  .course-picture:hover .order-image {
    transform: scale(1.05);
  }
  

  
/* Hover Effects for Courses */
.course:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

/* Button Hover Effect */
.enroll-now:hover {
  background-color: var(--secondary-color);
  color: #fff;
  transition: 0.3s;
}

/* AOS Scroll Initialization */
[data-aos="fade-up"], [data-aos="zoom-in-up"] {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

[data-aos].aos-animate {
  opacity: 1;
}

  /* hover effects */
  button:hover {
    transform: scale(1.05);
    background-color: #ff004c;
    transition: 0.3s ease;
    color: white;
  }
  
  h1:hover, h2:hover {
    color: #004c99;
    transition: 0.3s ease;
  }
  
  img:hover {
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
    filter: brightness(1.1);
  }
  
  .social-icon:hover {
    transform: scale(1.3);
    color: #ff004c;
    transition: 0.3s ease;
  }
  

  .site-footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 40px 20px 10px;
    font-size: 14px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    
  }
  
  .footer-section {
    flex: 1 1 200px;
    animation: fadeInUp 1s ease-out;
  }

  .about p {
    color: #f9f9f9;
    font-size: 1rem;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: var(--secondary-color);
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 8px 0;
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }

  .contact p{
    color: #f9f9f9;
    font-size: 1rem;
  }
  
  .footer-section p, 
  .footer-section span {
    margin: 8px 0;
  }
  
  .footer-section input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 80%;
    margin-bottom: 10px;
  }
  
  .footer-section button {
    padding: 10px 15px;
    border: none;
    background-color: var(--secondary-color);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .footer-section button:hover {
    background-color: #ff2b6c;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #ffffff3b;
    padding-top: 15px;
    
  }

  .footer-bottom p {
    color: var(--secondary-color);
  }

  .footer-bottom a {
    color: var(--background-color);
    font-size: 1rem;
  }
  
  .footer-bottom .social-icons span {
    margin: 0 8px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    color: var(--background-color);
  }

  .media-icon  i:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
    transition: 0.2s ease;
  }

  @media (min-width: 768px) {
    .sidebar {
      display: none !important;
    }
  }
  
  
  /* Media Query for Small Screens */
@media (max-width: 768px) {

  .sidebar {
    display: flex;
    flex-direction: column;
  }

  .menu-bar {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .landing-page {
      margin-top: 5px;
    flex-direction: column;
    align-items: center;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-section {
    flex-direction: column;
  }

  .hero-content {
    width: 100%;
    margin-bottom: 20px;
  }

  .logo {
    width: 100%;
  }

 .course-container {
  overflow: hidden;
 }

  .course {
    width: 80%;
    margin-bottom: 20px;
  }

  .order {
    width: 90%;
    height: 70vh;
    padding: 21px;
    flex-direction: column;
  }

  .order-container {
    flex-direction: column;
    align-items: center;
  }

  /* .course-slide {
    display: none;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .course-slide.active {
    display: block;
    transform: translateX(0)
  } */

}
.contact-d {
  cursor: pointer;
  color: var(--background-color);
}
.footer-section span {
  cursor: pointer;
}

@media (max-width : 400px) {
  .sidebar {
    width: 60%;
  }
}

footer .dev {
  color:#999;
}